---
---
@charset "utf-8";
@import "base";

#main-pic {
    width: min(60%,475px);
    aspect-ratio: 1;
    overflow: hidden;
    position: relative;
    img {
        height: 112%;
        transform: translate(-3.7%,-7.8%) rotate(-7deg)
    }
}
main .logo {
    padding: .5em;
    position: absolute;
    top: 20%;
    right: $minimum-side-padding;
    background-color: $brand-color-dark;
    color: $background-color;

    font-size: calc(min(3.5em, 7vw));
}

#hero {
    @include extended-block-behavior(850px);
	position: relative;
	margin-bottom: 4em;
}
#youtube-subscribe {
    @include standard-block-behavior();
}

dt {
    hanging-punctuation: first;
}
dd {
    margin-left: 0;
    text-align: right;
    font-style: italic;
    font-size: .9em;
    margin-bottom: 2em;
}