---
---
@charset "utf-8";
@import "base";

main img {
    height: 112%;
    transform: translate(-3.6%,-7.8%) rotate(-7deg)
}
#main-pic {
    width: min(60%,475px);
    aspect-ratio: 1;
    overflow: hidden;
    position:  relative;
}
main .logo {
    padding: .5em;
    position: absolute;
    top: 20%;
    right: $minimum-side-padding;
    background-color: $brand-color-dark;
    color: $background-color;

    font-size: 2.5em;
    @include breakpoint(tablet) {
    	font-size: 2.3em;
    }
    @include breakpoint(mobile) {
    	font-size: 2em;
    }
}

#hero {
    @include extended-block-behavior(850px);
	position: relative;
	margin-bottom: 4em;
}