<header>
<div id="header-wrapper">
    <a href="{{ site.baseurl }}{% link index.md %}">{% include logo.html %}</a>
    <nav>
        <div id="header-home"><a href="{{ site.baseurl }}{% link index.md %}">Home</a></div>
        <div id="header-biography"><a href="{{ site.baseurl }}{% link bio.md %}">Bio</a></div>
        <div id="header-works"><a href="{{ site.baseurl }}{% link works.md %}">Works</a></div>
        <div id="header-performances"><a href="{{ site.baseurl }}{% link performances.md %}">Performances</a></div>
        <div id="header-gallery"><a href="{{ site.baseurl }}{% link gallery.md %}">Gallery</a></div>
        <div id="header-contact"><a href="{{ site.baseurl }}{% link contact.md %}">Contact</a></div>
    </nav>
</div>
</header>
